<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Hi, I'm Madhuri<br /> Student intern at Zemoso Technologies <br /> Pursuing B.Tech in CS from Sreenidhi Institute of Science and Technology.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>My Projects</h3>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Smart Medicine Box</h4>
                                    <h4 class="subheading text-muted">Secure Medical Kit Using Biometric Security</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An arduino application, designed to secure the medicine kit by fingerprint and the slot of the particular day and time will be opened.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>SAM</h4>
                                    <h4 class="subheading text-muted">Detection and tracking of SAM</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mobile app to tackle Sever Acute Malnutrition(SAM) and refer NRCs</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>HALE</h4>
                                    <h4 class="subheading text-muted">Diagnosis And alleviation Of Mental Illnesses</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An android application for the alleviation of mental illness after diagnosing by providing various success stories and exercises</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>N*N Sudoku</h4>
                                    <h4 class="subheading text-muted">Puzzle Game</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An android application which generates an n*n unsolved grid for the user and evaluates the filled grid.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>END</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>